$primary_color: #000000;$secondary_color: #000000;$theme_color_01: #616161;$theme_color_02: #eeee22;$theme_color_03: #fefe02;$link_color: inherit;$link_color_hover: #eeee22;$link_color_active: #eeee22;
                $body_default_font: Google-Font;
            
                $heading_default_font: Default;
            